<div class="d-flex justify-content-center">
    <div class="p-2 bd-highlight col-4">
        <h4 class="display-4">Education</h4>
    </div>
    <div class="p-2 bd-highlight col-4"></div>
</div>
<div class="d-flex justify-content-center">
    <div class="p-2 bd-highlight col-4">
        <h4>National Taiwan University</h4>
        <p>2015 - 2017</p>
    </div>
    <div class="p-2 bd-highlight col-4">
        <h5>Master Degree in Computer Science</h5>
        <a href="https://www.computer.org/csdl/proceedings-article/sc2/2017/5862a098/12OmNrJiCZ4" target="_blank">Published “Multi-User Searchable Encryption Scheme with Constant-Size Keys” in 2017 IEEE 7𝑡ℎ International Symposium on Cloud and Service Computing.</a>
        <p>Machine Learning<br>Computer Vision<br>Computer Graphics<br>Digital Signal Processing<br>Multimedia Security<br>Information Theory and Coding Techniques<br>Network and Computer Security<br>Performance Modeling</p>
    </div>
</div>
<div class="d-flex justify-content-center">
    <div class="p-2 bd-highlight col-4">
        <h4>National Central University</h4>
        <p>2011 - 2014</p>
    </div>
    <div class="p-2 bd-highlight col-4">
        <h5>Bachelor Degree in Computer Science</h5>
        <p>This is my first step to Computer Science. I learned the basics of Computer Science here. Data Structure, Discrete Mathematics, Linear Algebra, Computer Organization, Operating System, Algorithmics, Compiler, Computer Network, and many other courses. Java is the first programming language I learned. I also pick up the knowledge about C++, JavaScript, HTML, CSS, PHP, SQL, and Android, then used them for some courses or internships.</p>
    </div>
</div>