<div class="d-flex justify-content-center">
  <div class="p-2 bd-highlight col-4">
    <h4 class="display-4">Career</h4>
  </div>
  <div class="p-2 bd-highlight col-4"></div>
</div>
<div class="d-flex justify-content-center">
  <div class="p-2 bd-highlight col-4">
    <h4>Sciences Academies of<br />New York Charter School</h4>
    <p>07.2021 - present</p>
  </div>
  <div class="p-2 bd-highlight col-4">
    <h5>Full-Stack Developer</h5>
    <p>
      Contributed to developing a scalable school system based on different
      requirements with roles including admin, teacher, parent, and student,
      reducing at least 60% manual work.<br />- Built large-scale web
      applications in React using various state management practices and
      open-source React component libraries, including Redux, React Hooks, and
      Material-UI.<br />- Developed RESTful API services by Node, Express,
      MySQL, MongoDB, and AWS.
    </p>
    <p>
      Independently designed and accomplished scalable Automated End-To-End
      Testing from scratch with Cypress, improving the speed of SDLC(Software
      Development Life Cycle) by 20% or more.
    </p>
    <p>
      Collaborated with an agile team of 8, using version control systems and
      project management tools such as Git, Bitbucket, SourceTree, and Jira.
    </p>
  </div>
</div>
<div class="d-flex justify-content-center">
  <div class="p-2 bd-highlight col-4">
    <h4>Freelancer</h4>
    <p>03.2020 - 06.2021</p>
  </div>
  <div class="p-2 bd-highlight col-4">
    <h5>Software Engineer</h5>
    <p>
      Developed, tested, debugged, and documented 10+ software applications
      based on user stories, requirements, and design specifications.
    </p>
  </div>
</div>
<div class="d-flex justify-content-center">
  <div class="p-2 bd-highlight col-4">
    <h4>enfotech and Consulting Inc.</h4>
    <p>02.2019 - 02.2020</p>
  </div>
  <div class="p-2 bd-highlight col-4">
    <h5>Full-Stack Developer</h5>
    <p>
      Worked with project managers to re-architect a multi-page web app into a
      single-page one by React, Node, Express, and MySQL using RESTful API
      standard, boosting yearly avenue by more than 30%.
    </p>
    <p>
      Used React to build mobile applications, which are lite versions of the
      products with mobile-only features, boosting revenue by 3%.
    </p>
    <p>
      Contributed to documentation and coaching others to fit into new projects.
    </p>
    <p>
      Maintained original products by ASP.NET, C#, MySQL, and SQL Server.<br />-
      Fixing bugs, which reduced the number of customer complaints by 25%.<br />-
      Creating new features with a cross-functional team based on the original
      structure, boosting revenue by 10%.
    </p>
  </div>
</div>
<div class="d-flex justify-content-center">
  <div class="p-2 bd-highlight col-4">
    <h4>Industrial Technology<br />Research Institute</h4>
    <p>07.2016 - 09.2016</p>
  </div>
  <div class="p-2 bd-highlight col-4">
    <h5>Software Developer Summer Intern</h5>
    <p>
      Use Java and Android to build a product implementing the concept of smart
      home, helping users play music, get a weather report, send a message, etc.
    </p>
  </div>
</div>
<div class="d-flex justify-content-center">
  <div class="p-2 bd-highlight col-4">
    <h4>Landseed Hospital</h4>
    <p>07.2013 - 06.2014</p>
  </div>
  <div class="p-2 bd-highlight col-4">
    <h5>Software Developer Intern</h5>
    <p>
      Use Java and Android to develop a rehabilitation app for patients to do
      some daily exercises by following the instructions suggested by our
      doctors.
    </p>
    <p>
      Use JavaScript, HTML, CSS, PHP, and MySQL to build a system for our
      doctors to handle patients' data.
    </p>
  </div>
</div>
<div class="d-flex justify-content-center">
  <div class="p-2 bd-highlight col-4">
    <h4>National Central University<br />Computer Center</h4>
    <p>12.2011 - 10.2012</p>
  </div>
  <div class="p-2 bd-highlight col-4">
    <h5>Software Developer Intern</h5>
    <p>
      Use JavaScript, HTML, CSS, PHP, and MySQL to build a website to introduce
      our school.
    </p>
  </div>
</div>
<div class="d-flex justify-content-center">
  <div class="p-2 bd-highlight col-4">
    <h4>National Central University<br />Computer Center</h4>
    <p>07.2012 - 06.2014</p>
  </div>
  <div class="p-2 bd-highlight col-4">
    <h5>Part Time Employee</h5>
    <p>
      Help schoolmates solve computer problems such as dormitory internet and
      operating system.
    </p>
  </div>
</div>
