<div class="d-flex justify-content-center">
    <div class="p-2 bd-highlight col-4">
        <h4 class="display-4">Career</h4>
    </div>
    <div class="p-2 bd-highlight col-4"></div>
</div>
<div class="d-flex justify-content-center">
    <div class="p-2 bd-highlight col-4">
        <h4>enfotech and Consulting Inc.</h4>
        <p>02.2019 - 02.2020</p>
    </div>
    <div class="p-2 bd-highlight col-4">
        <h5>Full-Stack Developer</h5>
        <p>Develop the new version of our company products.<br>- Use frameworks and technologies such as Angular, HTML, CSS, JavaScript, and TypeScript to build the front-end.
            <br>- Use ASP.Net Core, C#, and MySQL to build the backend API.</p>
        <p>Use ASP.NET, C#, MySQL, and SQL Server to maintain original products.</p>
    </div>
</div>
<div class="d-flex justify-content-center">
    <div class="p-2 bd-highlight col-4">
        <h4>Industrial Technology<br>Research Institute</h4>
        <p>07.2016 - 09.2016</p>
    </div>
    <div class="p-2 bd-highlight col-4">
        <h5>Software Developer Summer Intern</h5>
        <p>Use Java and Android to build a product implementing the concept of smart home, helping users play music, get a weather report, send a message, etc.</p>
    </div>
</div>
<div class="d-flex justify-content-center">
    <div class="p-2 bd-highlight col-4">
        <h4>Landseed Hospital</h4>
        <p>07.2013 - 06.2014</p>
    </div>
    <div class="p-2 bd-highlight col-4">
        <h5>Software Developer Intern</h5>
        <p>Use Java and Android to develop a rehabilitation app for patients to do some daily exercises by following the instructions suggested by our doctors.</p>
        <p>Use JavaScript, HTML, CSS, PHP, and MySQL to build a system for our doctors to handle patients' data.</p>
    </div>
</div>
<div class="d-flex justify-content-center">
    <div class="p-2 bd-highlight col-4">
        <h4>National Central University<br>Computer Center</h4>
        <p>12.2011 - 10.2012</p>
    </div>
    <div class="p-2 bd-highlight col-4">
        <h5>Software Developer Intern</h5>
        <p>Use JavaScript, HTML, CSS, PHP, and MySQL to build a website to introduce our school.</p>
    </div>
</div>
<div class="d-flex justify-content-center">
    <div class="p-2 bd-highlight col-4">
        <h4>National Central University<br>Computer Center</h4>
        <p>07.2012 - 06.2014</p>
    </div>
    <div class="p-2 bd-highlight col-4">
        <h5>Part Time Employee</h5>
        <p>Help schoolmates solve computer problems such as dormitory internet and operating system.</p>
    </div>
</div>