<div class="d-flex justify-content-center">
    <div class="row">
        <div class="col-sm-12">
            <h3 class="display-3">Contact Me</h3>
            <hr>
        </div>
    </div>
</div>
<div class="d-flex justify-content-center">
    <div class="row">
        <div class="col-sm-2">
            <img src="../../assets/images/email.png">
        </div>
        <div class="col-sm-10">
            <!-- <p>g820324@gmail.com</p> -->
            <a>g820324@gmail.com</a>
        </div>
    </div>
</div>
<div class="d-flex justify-content-center">
    <div class="row">
        <div class="col-sm-2">
            <img src="../../assets/images/github.png">
        </div>
        <div class="col-sm-10">
            <a href="https://github.com/RayHaha">https://github.com/RayHaha</a>
        </div>
    </div>
</div>
<div class="d-flex justify-content-center">
    <div class="row">
        <div class="col-sm-1">
            <img src="../../assets/images/linkedin.png">
        </div>
        <div class="col-sm-11">
            <a href="https://www.linkedin.com/in/yu-jui-chang-a5b8a1170/ ">https://www.linkedin.com/in/yu-jui-chang-a5b8a1170/</a>
            <hr>
        </div>
    </div>
</div>
<div class="d-flex justify-content-center">
    <div class="row">
        <div class="col-sm-12">
            <p>The website was fully designed and coded by myself. Some of the pictures used were got from <a href="https://unsplash.com/" target="_blank">unsplash.com</a>.
                <br>The Icons used in Contact Me were made by <a href="https://www.flaticon.com/authors/pixel-perfect" title="Pixel perfect" target="_blank">Pixel perfect</a> and <a href="https://www.flaticon.com/authors/google" title="Google" target="_blank">Google</a> from <a href="https://www.flaticon.com/" title="Flaticon" target="_blank">www.flaticon.com</a>
                <br>If it is still offended your copyright, please let me know. I will take it down as soon as possible. Thank you very much!
                <br>If you are interested in my work and have any questions, please feel free to contact me.</p>
        </div>
    </div>
</div>