<div class="d-flex justify-content-center">
    <div class="p-2 bd-highlight col-4">
        <h4 class="display-4">Technical Skills</h4>
    </div>
    <div class="p-2 bd-highlight col-4"></div>
</div>
<div class="d-flex justify-content-center">
    <div class="p-2 bd-highlight col-4">
        <div class="row">
            <div class="col">
                Angular.js
            </div>
            <div class="col">
                <ngb-rating [max]="5" [rate]="5" [readonly]="true"></ngb-rating>
            </div>
        </div>
        <div class="row">
            <div class="col">
                HTML
            </div>
            <div class="col">
                <ngb-rating [max]="5" [rate]="4" [readonly]="true"></ngb-rating>
            </div>
        </div>
        <div class="row">
            <div class="col">
                CSS
            </div>
            <div class="col">
                <ngb-rating [max]="5" [rate]="4" [readonly]="true"></ngb-rating>
            </div>
        </div>
        <div class="row">
            <div class="col">
                Bootstrap
            </div>
            <div class="col">
                <ngb-rating [max]="5" [rate]="4" [readonly]="true"></ngb-rating>
            </div>
        </div>
        <div class="row">
            <div class="col">
                JavaScript
            </div>
            <div class="col">
                <ngb-rating [max]="5" [rate]="4" [readonly]="true"></ngb-rating>
            </div>
        </div>
        <div class="row">
            <div class="col">
                Node.js
            </div>
            <div class="col">
                <ngb-rating [max]="5" [rate]="3" [readonly]="true"></ngb-rating>
            </div>
        </div>
        <div class="row">
            <div class="col">
                React.js
            </div>
            <div class="col">
                <ngb-rating [max]="5" [rate]="3" [readonly]="true"></ngb-rating>
            </div>
        </div>
        <div class="row">
            <div class="col">
                Express
            </div>
            <div class="col">
                <ngb-rating [max]="5" [rate]="3" [readonly]="true"></ngb-rating>
            </div>
        </div>
        <div class="row">
            <div class="col">
                Git
            </div>
            <div class="col">
                <ngb-rating [max]="5" [rate]="3" [readonly]="true"></ngb-rating>
            </div>
        </div>
    </div>
    <div class="p-2 bd-highlight col-4">
        <div class="row">
            <div class="col">
                Java
            </div>
            <div class="col">
                <ngb-rating [max]="5" [rate]="5" [readonly]="true"></ngb-rating>
            </div>
        </div>
        <div class="row">
            <div class="col">
                Android
            </div>
            <div class="col">
                <ngb-rating [max]="5" [rate]="4" [readonly]="true"></ngb-rating>
            </div>
        </div>
        <div class="row">
            <div class="col">
                C++
            </div>
            <div class="col">
                <ngb-rating [max]="5" [rate]="4" [readonly]="true"></ngb-rating>
            </div>
        </div>
        <div class="row">
            <div class="col">
                MySQL
            </div>
            <div class="col">
                <ngb-rating [max]="5" [rate]="4" [readonly]="true"></ngb-rating>
            </div>
        </div>
        <div class="row">
            <div class="col">
                SQL Server
            </div>
            <div class="col">
                <ngb-rating [max]="5" [rate]="4" [readonly]="true"></ngb-rating>
            </div>
        </div>
        <div class="row">
            <div class="col">
                NoSQL
            </div>
            <div class="col">
                <ngb-rating [max]="5" [rate]="3" [readonly]="true"></ngb-rating>
            </div>
        </div>
        <div class="row">
            <div class="col">
                C#
            </div>
            <div class="col">
                <ngb-rating [max]="5" [rate]="3" [readonly]="true"></ngb-rating>
            </div>
        </div>
        <div class="row">
            <div class="col">
                .NET
            </div>
            <div class="col">
                <ngb-rating [max]="5" [rate]="3" [readonly]="true"></ngb-rating>
            </div>
        </div>
        <div class="row">
            <div class="col">
                PHP
            </div>
            <div class="col">
                <ngb-rating [max]="5" [rate]="2" [readonly]="true"></ngb-rating>
            </div>
        </div>
    </div>
</div>