
<div class="d-flex justify-content-center">
    <h4 class="display-4">Profile</h4>
</div>
<div class="d-flex justify-content-center">
    <div class="p-2 col-sm-2">
        <h5 class="display-5">About Me</h5>
        <p>I am a software developer. I majored in Computer Science since Bachelor's degree. I love spending time on the quality of products. Also, I like working in a team. It makes you learn better!</p>
    </div>
    <div class="p-2 col-sm-2"></div>
    <div class="p-2">
        <h5 class="display-5">Details</h5>
        <p class="fw-bold"></p>
    </div>
</div>


